@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding:0;
  margin:0;
}


body {
  min-height: 100dvh;
  font-family: 'Montserrat';
  display:grid;
  background-color: rgb(233, 233, 233);
  grid-template-columns: 400px auto;
  grid-template-rows: auto 1fr auto;

  

  li, ul, ol {
    list-style: none;
  }
}

header {
    grid-column: span 2;
    background-color: rgb(66, 56, 56);
    max-height: 150px;
    align-self: flex-start;
    padding:16px;
    text-align: center;
    color:beige;
}

.nav {
  background-color: greenyellow;
}

.content {
  background-color: bisque;
}

footer {
  grid-column: span 2;
  background-color: rgb(129, 128, 131);
  max-height: 150px;
  align-self: flex-end;
  padding:16px;
  color:beige;
  text-align: center;
}