@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

:root {
  --custom-border: 2px solid rgb(160, 156, 168);
}


body {
  min-height: 100dvh;
  font-family: 'Montserrat';
  display:grid;
  background-color: rgb(57, 72, 199);
  grid-template-columns: minmax(100px, 400px) minmax(300px, auto);
  grid-template-rows: auto 1fr auto;
  padding: 0 32px;
  gap:16px;

  

  li, ul, ol {
    list-style: none;
  }
}

header {
    grid-column: span 2;
    background-color: rgb(209, 208, 208);
    max-height: 150px;
    align-self: flex-start;
    padding:16px;
    text-align: center;
    color:rgb(0, 0, 0);
    border: var(--custom-border);
    border-radius: 8px;
}

.nav {
  background-color: rgb(241, 241, 241);
  border: var(--custom-border);
  border-radius: 8px;
  display:flex;
  flex-direction: column;
  padding:8px 0;
  justify-content: flex-start;

  h2{
    padding-left: 15%;
    color:rgb(68, 68, 68)
  }
  div {
    height: 40px;
    width: 100%;
    display:flex;
    align-items: center;
    
    &:hover{
      background-color: rgba(0, 0, 0, 0.1);
      transition:0.2s;
    }

    >p{
      cursor: pointer;
      padding-left: 25%;

      &:hover {      
        scale: 1.1;
        transition: 0.2s;
      }

    }
  }
}

.content {
  background-color: rgb(241, 241, 241);
  border: var(--custom-border);
  border-radius: 8px;
}

footer {
  grid-column: span 2;
  background-color: rgb(26, 26, 26);
  max-height: 150px;
  align-self: flex-end;
  padding:16px;
  color:beige;
  text-align: center;
  border: var(--custom-border);
  font-weight: 700;
  border-radius: 8px;
}