@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

:root {
  --custom-border: 2px solid rgb(160, 156, 168);
}



body {
  min-height: 100dvh;
  font-family: 'Montserrat';
  display:grid;
  background-color: rgb(57, 72, 199);
  grid-template-columns: minmax(100px, 400px) minmax(300px, auto);
  grid-template-rows: auto 1fr auto;
  padding: 0 32px;
  gap:16px;


  li, ul, ol {
    list-style: none;
  }
}

header {
    grid-column: span 2;
    background-color: rgb(224, 224, 224);
    max-height: 150px;
    align-self: flex-start;
    padding:16px;
    text-align: center;
    color:rgb(0, 0, 0);
    border: var(--custom-border);
    border-radius: 8px;
    user-select: none;
}

.nav {
  background-color: rgb(241, 241, 241);
  border: var(--custom-border);
  border-radius: 8px;
  display:flex;
  flex-direction: column;
  padding:16px 0;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;

  h2{
    padding-left: 5%;
    color:rgb(68, 68, 68);

  }

  >div:not(.projects) {
    height: 35px;
    width: 100%;
    display:flex;
    align-items: center;
    cursor: pointer;

    
    &:hover{
      background-color: rgba(0, 0, 0, 0.1);
      transition:0.2s;

    }

    &:active{
      background-color: rgba(0, 0, 0, 0.2);
    }

    >p{
      padding-left: 7.5%;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }

    >.newProject {
      font-weight: 700;
      color:rgb(78, 204, 74);
    }
  }

  .projects {
    display:flex;
    flex-direction: column;
    height: auto;

    >div {
      min-height: 35px;
      width: 100%;
      display:flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      gap:4px;
      padding-right: 4px;
      
      &:hover{
        background-color: rgba(0, 0, 0, 0.1);
        transition:0.2s;

      }

      &:active{
        background-color: rgba(0, 0, 0, 0.2);
        
      }
  
      >p{
        padding-left: 7.5%;
        height: 100%;
        width: 100%;
        display: flex;
        margin-right: auto;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      
      .del-project {
        padding:4px;
        font-size: 20px;
        flex-shrink: 0;

        &:hover {
          background-color: rgb(230, 55, 55);
          border-radius: 8px;
          color:white;
          transition: 0.2s;
        }
      }

      .edit-project {
        padding:4px;
        font-size: 20px;
        flex-shrink: 0;

        &:hover {
          background-color: rgb(81, 206, 56);
          border-radius: 8px;
          color:white;
          transition: 0.2s;
        }
      }

    }
  }

}

.content {
  background-color: rgb(241, 241, 241);
  border: var(--custom-border);
  border-radius: 8px;
  padding: 16px 64px;
  display: flex;
  flex-direction: column;
  gap:16px;

  >:first-child {
    display:flex;
    flex-direction: row;
    gap:8px;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(180, 179, 233);
    border-radius: 8px;
    padding: 0 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);

    >h1 {
      align-self: center;
      user-select: none;
    }
    
    .add-task {
      font-size: 56px;
      color: rgb(68, 71, 67);

      &:hover {
        color: rgb(81, 206, 56);
        transition: 0.2s;
        cursor: pointer;
      }
    }

  }

  >:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap:4px;
    height: 100%;
    width: 100%;
    background-color: rgb(224, 224, 224);
    border-radius: 8px;
    padding: 16px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4); /* Shadow properties */

    >.content-title {
      display: flex;
      align-items: center;
      
      box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.4); /* Shadow properties */

      > * {
        flex: 1 1 20%;
      }

      >p {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

    }

    >.task {
      height: 32px;
      display: flex;
      align-items: center;
      font-size: 14px;
      background-color: rgb(210, 210, 210);

      > * {
        flex: 1 1 20%;
      }

      &:hover{
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
        border-bottom: 2px solid black;
        border-right: 2px solid black;
  
      }

      >.descriptionDiv {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        position: relative;

        >p {
          display: flex;
          justify-content: left;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 15ch;
        }

        
        .tooltiptext {
          visibility: hidden;
          width: auto;
          background-color: rgb(60, 60, 60);
          color: #fff;
          text-align: center;
          border-radius: 4px;
          padding: 2px 4px;
          
          /* Position the tooltip */
          position: absolute;
          z-index: 1;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
        }
        
        &:hover .tooltiptext {
            visibility: visible;
            
        }
      }
      >p {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .task-options {
        display: flex;
        align-items: center;
        justify-content: center;
        gap:4px;

        >input {
          display: inline-block;
          width: 16px;
          height: 16px;
          border: 2px solid #333;
          border-radius: 4px;
          padding-left: 5px;

          &:hover {
            transform: scale(1.5);
            cursor: pointer;
          }
        }

        .del-task {
          padding:4px;
  
          &:hover {
            background-color: rgb(230, 55, 55);
            border-radius: 8px;
            color:white;
            transition: 0.2s;
          }
        }
  
        .edit-task {
          padding:4px;
  
          &:hover {
            background-color: rgb(81, 206, 56);
            border-radius: 8px;
            color:white;
            transition: 0.2s;
          }
        }

      }


    }

    .low {
      border-left: 5px solid rgb(0,255,0);
      border-radius: 5px;
    }

    .med {
      border-left: 5px solid yellow;
      border-radius: 5px;
    }

    .high {
      border-left: 5px solid rgb(255, 0, 0);
      border-radius: 5px;
    }

    .completed {
      background-color: rgb(191, 235, 170);

      &:hover {
        background-color: rgb(143, 230, 99)
        
      }
    }


  }


}

dialog.modal {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 8px;
  padding:16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding:32px;
  background: rgb(241, 241, 241);
  border-radius: 8px;
  width: 300px;

  ::selection {
    color: white;
    background: black;
  }

  &::backdrop {
      backdrop-filter: blur(3px);
  }

  >p {
    font-size: 28px;
    grid-row: 1;
    grid-column: 1/3;
  }

  >label { 
    grid-row: 2;
    align-self: center;
  }

  >input {
    width: 100%;
    height: 28px;
    grid-row: 2;
    outline: none;
    border-radius: 4px;
    padding-left: 5px;
    align-self: center;
  }
  >label.error {
    grid-row: 3;
    grid-column: 1/3;
    width: 100%;
    justify-self: center;
    font-size: 11px;
    font-weight: 700;
    background-color: rgba(255, 10, 10, 0.7);
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid black;
    color:white;
  }

  >button {
      padding: 8px 16px;
      border-radius: 8px;
      grid-row: 4;
      grid-column: 1/3;
      font-weight: 800;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }
  }


  

}

dialog.modal-edit-project {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding:32px;
  background: rgb(241, 241, 241);
  border-radius: 8px;
  width: 300px;

  ::selection {
    color: white;
    background: black;
  }

  &::backdrop {
      backdrop-filter: blur(3px);
  }

  >p {
    font-size: 20px;
    grid-row: 1;
    grid-column: 1/3;
    text-align: center;
  }

  >input {
    outline: none;
    height: 28px;
    border-radius: 4px;
    padding-left: 5px;
    align-self: center;
    grid-row: 2;
    grid-column: 1/3;
    text-align: center;
  }

  >label.error {
    grid-row: 3;
    grid-column: 1/3;
    width: 100%;
    justify-self: center;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    background-color: rgba(255, 10, 10, 0.7);
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid black;
    color:white;
  }

  >button.btn-confirm {
      padding: 8px 16px;
      border-radius: 8px;
      grid-row: 4;
      grid-column: 1;
      font-weight: 800;

      &:hover {
        background-color: rgb(81, 206, 56);
        cursor: pointer;
        color: white;
      }
  }

  >button.btn-cancel {
    padding: 8px 16px;
    border-radius: 8px;
    grid-row: 4;
    grid-column: 2;
    font-weight: 800;

    &:hover {
      background-color: rgba(255, 10, 10, 0.7);
      cursor: pointer;
      color: white;
    }
}

}

dialog.modal-delete-project {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 16px;
  padding:16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding:32px;
  background: rgb(241, 241, 241);
  border-radius: 8px;
  width: 300px;

  &::backdrop {
      backdrop-filter: blur(3px);
  }

  >p {
    font-size: 20px;
    grid-row: 1;
    grid-column: 1/3;
  }

  >button.btn-confirm {
      padding: 8px 16px;
      border-radius: 8px;
      grid-row: 2;
      grid-column: 1;
      font-weight: 800;

      &:hover {
        background-color: rgba(255, 10, 10, 0.7);
        cursor: pointer;
        color: white;
      }
  }

  >button.btn-cancel {
    padding: 8px 16px;
    border-radius: 8px;
    grid-row: 2;
    grid-column: 2;
    font-weight: 800;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }
}

}

dialog.modal-new-task {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding:32px;
  background: rgb(241, 241, 241);
  border-radius: 8px;
  width: 400px;
  display:flex;
  flex-direction: column;

  ::selection {
    color: white;
    background: black;
  }

  &::backdrop {
      backdrop-filter: blur(3px);
  }

  >p {
    font-size: 28px;
    grid-row: 1;
    grid-column: 1/3;
  }

  >label.error {
    grid-row: 3;
    grid-column: 1/3;
    width: 100%;
    justify-self: center;
    font-size: 11px;
    font-weight: 700;
    background-color: rgba(255, 10, 10, 0.7);
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid black;
    color:white;
  }


  div {
    display: flex;
    gap: 8px;
    justify-content: space-between;

    >label { 
      align-self: center;
    }
  
    >input {
      width: 220px;
      height: 28px;
      outline: none;
      border-radius: 4px;
      padding-left: 5px;
      align-self: center;
      border: 1px solid black;
    }

    >select {
      width: 220px;
      height: 28px;
      grid-row: 2;
      outline: none;
      border-radius: 4px;
      padding-left: 2px;
      align-self: center;
      background-color: white;
      border: 1px solid black;
    }

    >button {
      width: 33%;
      padding: 8px 16px;
      border-radius: 8px;
      font-weight: 800;
    }

    >.btn-add {

      &:hover {
        background-color: rgb(81, 206, 56);
        cursor: pointer;
        color: white;
      }

    }

    >.btn-clear {

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
      }

    }

    >.btn-cancel {

      &:hover {
        background-color: rgba(255, 10, 10, 0.7);
        cursor: pointer;
        color: white;
      }

    }

  }

  .error-container {
    height: 24px;

    >.error-msg {
      grid-row: 3;
      grid-column: 1/3;
      width: 100%;
      justify-self: center;
      font-size: 11px;
      font-weight: 700;
      background-color: rgba(255, 10, 10, 0.7);
      padding: 4px 8px;
      border-radius: 4px;
      border: 1px solid black;
      color:white;
    }
  }


  

}

.modal-edit-task {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding:32px;
  background: rgb(241, 241, 241);
  border-radius: 8px;
  width: 400px;
  display:flex;
  flex-direction: column;

  >p {
    font-size: 28px;
    grid-row: 1;
    grid-column: 1/3;
  }

  >label { 
    align-self: center;
  }

  div {
    display: flex;
    gap: 8px;
    justify-content: space-between;

    >label { 
      align-self: center;
    }
  
    >input {
      width: 220px;
      height: 28px;
      outline: none;
      border-radius: 4px;
      padding-left: 5px;
      align-self: center;
      border: 1px solid black;
    }

    >select {
      width: 220px;
      height: 28px;
      grid-row: 2;
      outline: none;
      border-radius: 4px;
      padding-left: 2px;
      align-self: center;
      background-color: white;
      border: 1px solid black;
    }

    >button {
      width: 33%;
      padding: 8px 16px;
      border-radius: 8px;
      font-weight: 800;
    }

    >.btn-confirm {

      &:hover {
        background-color: rgb(81, 206, 56);
        cursor: pointer;
        color: white;
      }

    }

    >.btn-cancel {

      &:hover {
        background-color: rgba(255, 10, 10, 0.7);
        cursor: pointer;
        color: white;
      }

    }

  }

  >input {
    width: 220px;
    height: 28px;
    outline: none;
    border-radius: 4px;
    padding-left: 5px;
    align-self: center;
    border: 1px solid black;
  }

  >select {
    width: 220px;
    height: 28px;
    grid-row: 2;
    outline: none;
    border-radius: 4px;
    padding-left: 2px;
    align-self: center;
    background-color: white;
    border: 1px solid black;
  }

  .error-container {
    height: 24px;

    >.error-msg {
      grid-row: 3;
      grid-column: 1/3;
      width: 100%;
      justify-self: center;
      font-size: 11px;
      font-weight: 700;
      background-color: rgba(255, 10, 10, 0.7);
      padding: 4px 8px;
      border-radius: 4px;
      border: 1px solid black;
      color:white;
    }
  }

}

footer {
  display:flex;
  justify-content: center;
  align-items: center;
  gap:4px;
  grid-column: span 2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: rgb(26, 26, 26);
  max-height: 150px;
  align-self: flex-end;
  padding:16px;
  color:yellow;
  text-align: center;
  border: var(--custom-border);
  border-radius: 8px;

}

.githubIcon {
  color:rgb(255, 255, 255);
  transition: 0.3s;
  font-size: 24px;
  display: flex;

  >:hover {

      color:red;
      font-size: 24px;

  }
}